<section id="faq" class="faq">
  <div class="container faq-container">
    <p class="faq-header-text">Quick answers</p>
    <h2 class="title faq-title">FAQ</h2>
    <div class="faq-list">
      <details class="faq-item" data-item open>
        <summary class="faq-question" data-question>
          <span class="faq-question-text">Is ReGarden Match free to play?</span>
          <svg class="faq-icon" width="33" height="18">
            <use href="/img/sprite.svg#icon-faq-icon"></use>
          </svg>
        </summary>
        <div class="faq-answer" data-answer>
          <p class="faq-answer-text">
            Yes, with optional in-game purchases available.
          </p>
        </div>
      </details>
      <details class="faq-item" data-item>
        <summary class="faq-question" data-question>
          <span class="faq-question-text"
            >Do I need puzzle experience to start?</span
          >
          <svg class="faq-icon" width="33" height="18">
            <use href="/img/sprite.svg#icon-faq-icon"></use>
          </svg>
        </summary>
        <div class="faq-answer" data-answer>
          <p class="faq-answer-text">
            No, the game is easy to learn for all players.
          </p>
        </div>
      </details>
      <details class="faq-item" data-item>
        <summary class="faq-question" data-question>
          <span class="faq-question-text"
            >Can I customize my garden freely?</span
          >
          <svg class="faq-icon" width="33" height="18">
            <use href="/img/sprite.svg#icon-faq-icon"></use>
          </svg>
        </summary>
        <div class="faq-answer" data-answer>
          <p class="faq-answer-text">
            Yes, thousands of decor options are available.
          </p>
        </div>
      </details>
      <details class="faq-item" data-item>
        <summary class="faq-question" data-question>
          <span class="faq-question-text">Are new levels added regularly?</span>
          <svg class="faq-icon" width="33" height="18">
            <use href="/img/sprite.svg#icon-faq-icon"></use>
          </svg>
        </summary>
        <div class="faq-answer" data-answer>
          <p class="faq-answer-text">
            Yes, fresh content and areas are released often.
          </p>
        </div>
      </details>
      <details class="faq-item" data-item>
        <summary class="faq-question" data-question>
          <span class="faq-question-text"
            >Is the game suitable for casual play?</span
          >
          <svg class="faq-icon" width="33" height="18">
            <use href="/img/sprite.svg#icon-faq-icon"></use>
          </svg>
        </summary>
        <div class="faq-answer" data-answer>
          <p class="faq-answer-text">
            Yes, levels are designed for short, relaxing sessions.
          </p>
        </div>
      </details>
    </div>
    <div
      class="faq-img faq-img-propeller"
      role="img"
      aria-label="Icon propeller"
    ></div>
    <div class="faq-img faq-img-blast" role="img" aria-label="Icon blast"></div>
  </div>
</section>
