<section class="gallery" id="gallery">
  <div class="gallery-container container">
    <span class="about-badge">What does our app look like?</span>
    <h2 class="gallery-title title">Gallery</h2>
    <div class="swiper" data-gallery-swiper>
      <ul class="gallery-list swiper-wrapper">
        <li class="gallery-item swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/desc/how_to_play/blast!_desk.webp    1x,
                ./img/desc/how_to_play/blast!_desk_2x.webp 2x
              "
            />
            <img
              src="./img/mob/gallery/blast_mob.jpg"
              srcset="
                ./img/mob/gallery/blast_mob.jpg    1x,
                ./img/mob/gallery/blast_mob@2x.jpg 2x
              "
              alt="Gameplay preview of a match-3 puzzle board filled with colorful gems and hearts, featuring a cartoon bomb and the word BLAST written at the bottom."
              class="gallery-img"
              width="164"
              height="300"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/desc/how_to_play/pick_desk.webp    1x,
                ./img/desc/how_to_play/pick_desk_2x.webp 2x
              "
            />
            <img
              src="./img/mob/gallery/pick_mob.jpg"
              srcset="
                ./img/mob/gallery/pick_mob.jpg    1x,
                ./img/mob/gallery/pick_mob@2x.jpg 2x
              "
              alt="Gameplay preview showing a hand selecting garden furniture pieces to place around an outdoor dining table, with a PICK button at the bottom."
              class="gallery-img"
              width="164"
              height="300"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/desc/how_to_play/crush_desk.webp    1x,
                ./img/desc/how_to_play/crush_desk_2x.webp 2x
              "
            />
            <img
              src="./img/mob/gallery/crush_mob.jpg"
              srcset="
                ./img/mob/gallery/crush_mob.jpg    1x,
                ./img/mob/gallery/crush_mob@2x.jpg 2x
              "
              alt="Gameplay preview of a vertical match-3 puzzle board filled with colorful flowers and fruit tiles, featuring the word CRUSH written at the bottom."
              class="gallery-img"
              width="164"
              height="300"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/desc/how_to_play/decor_desk.webp    1x,
                ./img/desc/how_to_play/decor_desk_2x.webp 2x
              "
            />
            <img
              src="./img/mob/gallery/decorate_mob.jpg"
              srcset="
                ./img/mob/gallery/decorate_mob.jpg    1x,
                ./img/mob/gallery/decorate_mob@2x.jpg 2x
              "
              alt="Before and after comparison of a garden patio area, showing an empty overgrown space transformed into a decorated seating area with a DECORATE button."
              class="gallery-img"
              width="164"
              height="300"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/desc/how_to_play/match_desk.webp    1x,
                ./img/desc/how_to_play/match_desk_2x.webp 2x
              "
            />
            <img
              src="./img/mob/gallery/match_mob.jpg"
              srcset="
                ./img/mob/gallery/match_mob.jpg    1x,
                ./img/mob/gallery/match_mob@2x.jpg 2x
              "
              alt="Gameplay preview of a match-3 puzzle board shaped like a heart with wooden blocks and red hearts, featuring a MATCH button at the bottom."
              class="gallery-img"
              width="164"
              height="300"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/desc/gallery/broom_desk.webp    1x,
                ./img/desc/gallery/broom_desk_2x.webp 2x
              "
            />
            <img
              src="./img/mob/gallery/broom_mob.jpg"
              srcset="
                ./img/mob/gallery/broom_mob.jpg   1x,
                ./img/mob/gallery/boom_mob@2x.jpg 2x
              "
              alt="A person sweeping a stone garden pathway surrounded by fallen autumn leaves."
              class="gallery-img"
              width="164"
              height="300"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-item swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./img/desc/gallery/washing_desk.webp    1x,
                ./img/desc/gallery/washing_desk_2x.webp 2x
              "
            />
            <img
              src="./img/mob/gallery/washing_mob.jpg"
              srcset="
                ./img/mob/gallery/washing_mob.jpg    1x,
                ./img/mob/gallery/washing_mob@2x.jpg 2x
              "
              alt="A person watering plants in a garden bed next to a stone path with a watering can."
              class="gallery-img"
              width="164"
              height="300"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="reviews-controls">
      <button
        class="reviews-btn reviews-btn-prev"
        type="button"
        aria-label="Previous review"
        data-gallery-prev
      >
        <img
          src="/img/desc/reviews/prev.webp"
          width="26"
          height="42"
          alt="button previous"
        />
      </button>

      <button
        class="reviews-btn reviews-btn-next"
        type="button"
        aria-label="Next review"
        data-gallery-next
      >
        <img
          src="/img/desc/reviews/next.webp"
          width="26"
          height="42"
          alt="button next"
        />
      </button>
    </div>
  </div>
</section>
