<header class="header container">
  <a class="header-logo-link" href="#">ReGarden Match </a>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a class="header-nav-link" href="#about">About</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="#how-to-play">How to Play</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="#features">Features</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="#reviews">Reviews</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="#faq">FAQ</a>
      </li>
      <li class="header-nav-item">
        <a class="header-nav-link" href="#gallery">Gallery</a>
      </li>
    </ul>
  </nav>
  <button type="button" class="burger" aria-label="Open menu"></button>
</header>
