<header class="header">
  <div class="header-wrap container">
    <a class="header-logo-link" href="#">ReGarden Match </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about">About</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#how-to-play">How to Play</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#features">Features</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#faq">FAQ</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#gallery">Gallery</a>
        </li>
      </ul>
    </nav>
    <a
      data-download-btn
      class="header-download-btn"
      href="https://play.google.com/store/apps/details?id=com.hmbdgames.popisland&hl=en&gl=us"
      >Play on Google Play</a
    >
    <button type="button" class="burger" aria-label="Open menu"></button>
    <!-- <div class="mobile-menu" data-menu data-visible="close">
      <div class="mobile-menu-container">
        <button
          type="button"
          class="mobile-menu-close"
          aria-label="Close menu"
          data-menu-close
        >
          <svg class="icon-close-overlay" width="32" height="32">
            <use href="./img/sprite.svg#icon-close-button-burger-menu"></use>
          </svg>
        </button>
        <nav class="menu-nav">
          <ul class="menu-nav-list">
            <li class="menu-nav-item">
              <a class="menu-nav-link" data-menu-link href="#about"
                >About the Game</a
              >
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link" data-menu-link href="#how-to-play"
                >How to Play</a
              >
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link" data-menu-link href="#features"
                >Features</a
              >
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link" data-menu-link href="#gallery"
                >Gallery</a
              >
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link" data-menu-link href="#reviews"
                >Reviews</a
              >
            </li>
            <li class="menu-nav-item">
              <a class="menu-nav-link" data-menu-link href="#contact"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div> -->
  </div>
</header>
