<section class="hero">
  <div class="container hero-container">
    <div class="hero-images">
      <picture class="hero-picture">
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/desc/hero/field_desk.webp    1x,
            /img/desc/hero/field_desk_2x.webp 2x
          "
        />
        <img
          src="/img/mob/hero/field_mob.webp"
          srcset="/img/mob/hero/field_mob_2x.webp 2x"
          alt="game board"
          width="235"
          height="236"
          loading="lazy"
        />
      </picture>
      <picture class="hero-item hero-item-funnel">
        <source
          media="(min-width: 1440px)"
          srcset="/img/desc/hero/funnel_desc.webp"
        />
        <img
          src="/img/mob/hero/funnel_mob.webp"
          srcset="/img/mob/hero/funnel_mob.webp"
          alt="funnel"
          loading="lazy"
        />
      </picture>
      <picture class="hero-item hero-item-heart">
        <source
          media="(min-width: 1440px)"
          srcset="/img/desc/hero/little_heart_desc.webp"
        />
        <img
          src="/img/mob/hero/heart_hero_mob.webp"
          srcset="/img/mob/hero/heart_hero_mob.webp"
          alt="heart"
          loading="lazy"
        />
      </picture>
      <picture class="hero-item hero-item-flower">
        <source
          media="(min-width: 1440px)"
          srcset="/img/desc/hero/chamomile_desc.webp"
        />
        <img
          src="/img/mob/hero/chamomile_mob.webp"
          srcset="/img/mob/hero/chamomile_mob.webp"
          alt="flower"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="hero-text">
      <h1 class="title hero-title">
        Match Petals.<br />
        Grow Paradise.
      </h1>
      <p class="hero-description">
        Solve puzzles, restore gardens, design your dream escape.
      </p>
      <p class="hero-subtitle">
        ReGarden Match<br />Every match grows something beautiful
      </p>
      <a
        class="hero-link"
        href="https://play.google.com/store/apps/details?id=com.hmbdgames.popisland&hl=en&gl=us"
        target="_blank"
        ><span class="hero-link-text">Play on Google Play</span></a
      >
    </div>
  </div>
</section>
