<section class="how-to-play" id="how-to-play">
  <div class="how-to-play-container container">
    <span class="about-badge">Simple matches, meaningful growth</span>
    <h2 class="how-to-play-title title">How to Play</h2>
    <ul class="about-list">
      <li class="about-item">
        <h3 class="about-item-title">Match Garden Elements</h3>
        <p class="about-item-descr">
          Swap and match flowers, plants, and decorative tiles.
        </p>
      </li>
      <li class="about-items">
        <h3 class="about-item-title">Clear Level Objectives</h3>
        <p class="about-item-descr">
          Complete specific goals to earn stars and rewards.
        </p>
      </li>
      <li class="about-items">
        <h3 class="about-item-title">Use Boosters & Combos</h3>
        <p class="about-item-descr">
          Trigger explosive combinations to clear tough boards.
        </p>
      </li>
      <li class="about-items">
        <h3 class="about-item-title">Earn Renovation Resources</h3>
        <p class="about-item-descr">
          Trigger explosive combinations to clear tough boards.
        </p>
      </li>
      <li class="about-items">
        <h3 class="about-item-title">Design Your Garden</h3>
        <p class="about-item-descr">
          Trigger explosive combinations to clear tough boards.
        </p>
      </li>
    </ul>
  </div>
</section>
