<section class="how-to-play" id="how-to-play">
  <div class="how-to-play-container container" data-how-to-play-container>
    <div class="list-container" data-list-container>
      <span class="how-to-play-text about-badge"
        >Simple matches, meaningful growth</span
      >
      <h2 class="how-to-play-title title">How to Play</h2>
      <ul class="how-to-play-list">
        <li class="how-to-play-item" data-item data-index="0">
          <h3 class="how-to-play-item-title" data-trigger data-index="0">
            Match Garden Elements
          </h3>
          <p
            class="how-to-play-item-descr"
            data-descr
            data-index="0"
            data-hidden="false"
          >
            Swap and match flowers, plants, and decorative tiles
          </p>
        </li>
        <li class="how-to-play-item" data-item data-index="1">
          <h3 class="how-to-play-item-title" data-trigger data-index="1">
            Clear Level Objectives
          </h3>
          <p
            class="how-to-play-item-descr"
            data-descr
            data-index="1"
            data-hidden="true"
          >
            Complete specific goals to earn stars and rewards.
          </p>
        </li>
        <li class="how-to-play-item" data-item data-index="2">
          <h3 class="how-to-play-item-title" data-trigger data-index="2">
            Use Boosters & Combos
          </h3>
          <p
            class="how-to-play-item-descr"
            data-descr
            data-index="2"
            data-hidden="true"
          >
            Trigger explosive combinations to clear tough boards.
          </p>
        </li>
        <li class="how-to-play-item" data-item data-index="3">
          <h3 class="how-to-play-item-title" data-trigger data-index="3">
            Earn Renovation Resources
          </h3>
          <p
            class="how-to-play-item-descr"
            data-descr
            data-index="3"
            data-hidden="true"
          >
            Collect materials from completed levels.
          </p>
        </li>
        <li class="how-to-play-item" data-item data-index="4">
          <h3 class="how-to-play-item-title" data-trigger data-index="4">
            Design Your Garden
          </h3>
          <p
            class="how-to-play-item-descr"
            data-descr
            data-index="4"
            data-hidden="true"
          >
            Spend resources to unlock and personalize garden areas.
          </p>
        </li>
      </ul>
    </div>

    <div class="img-container" data-img-container>
      <picture data-index="0">
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/desc/how_to_play/match_desk.webp    1x,
            ./img/desc/how_to_play/match_desk_2x.webp 2x
          "
        />
        <img
          class="how-to-play-img"
          data-img
          data-index="0"
          src="./img/mob/how_to_play/match_mob.webp"
          srcset="./img/mob/how_to_play/match_mob_2x.webp"
          alt="..."
          width="253"
          height="456"
          loading="lazy"
          data-hidden="false"
        />
      </picture>
      <picture data-index="1">
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/desc/how_to_play/blast!_desk.webp    1x,
            ./img/desc/how_to_play/blast!_desk_2x.webp 2x
          "
        />
        <img
          class="how-to-play-img"
          data-img
          data-index="1"
          src="./img/mob/how_to_play/blast!_mob.webp"
          srcset="./img/mob/how_to_play/blast!_mob_2x.webp"
          alt="..."
          width="253"
          height="456"
          loading="lazy"
          data-hidden="true"
        />
      </picture>
      <picture data-index="2">
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/desc/how_to_play/crush_desk.webp    1x,
            ./img/desc/how_to_play/crush_desk_2x.webp 2x
          "
        />
        <img
          class="how-to-play-img"
          data-img
          data-index="2"
          src="./img/mob/how_to_play/crush_mob.webp"
          srcset="./img/mob/how_to_play/crush_mob_2x.webp"
          alt="..."
          width="253"
          height="456"
          loading="lazy"
          data-hidden="true"
        />
      </picture>
      <picture data-index="3">
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/desc/how_to_play/pick_desk.webp    1x,
            ./img/desc/how_to_play/pick_desk_2x.webp 2x
          "
        />
        <img
          class="how-to-play-img"
          data-img
          data-index="3"
          src="./img/mob/how_to_play/match_mob.webp"
          srcset="./img/mob/how_to_play/match_mob_2x.webp"
          alt="..."
          width="253"
          height="456"
          loading="lazy"
          data-hidden="true"
        />
      </picture>
      <picture data-index="4">
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/desc/how_to_play/decor_desk.webp    1x,
            ./img/desc/how_to_play/decor_desk_2x.webp 2x
          "
        />
        <img
          class="how-to-play-img"
          data-img
          data-index="4"
          src="./img/mob/how_to_play/decor_mob.webp"
          srcset="./img/mob/how_to_play/decor_mob_2x.webp"
          alt="..."
          width="253"
          height="456"
          loading="lazy"
          data-hidden="true"
        />
      </picture>
    </div>
  </div>
</section>
