<section class="how-to-play" id="how-to-play">
  <div class="how-to-play-container container">
    <span class="about-badge">Simple matches, meaningful growth</span>
    <h2 class="how-to-play-title title">How to Play</h2>
    <ul class="about-list">
      <li class="about-item">
        <h3 class="about-item-title">Match Garden Elements</h3>
      </li>
      <li class="about-items">
        <h3 class="about-item-title">Clear Level Objectives</h3>
      </li>
      <li class="about-items"></li>
      <li class="about-items"></li>
      <li class="about-items"></li>
    </ul>
  </div>
</section>
