<section class="reviews" id="reviews">
  <div class="container reviews-container">
    <p class="reviews-header-text">What players are saying</p>
    <h2 class="title reviews-title">Reviews</h2>
    <div class="reviews-slider swiper" data-slider>
      <ul class="reviews-list swiper-wrapper">
        <li class="reviews-card swiper-slide">
          <article class="review-card">
            <div class="review-header">
              <div class="review-author">
                <img
                  class="review-avatar"
                  src="../img/desc/reviews/heart_white_desk.webp"
                  alt=""
                  width="56"
                  height="56"
                />
                <p class="card-name">BloomBuilder</p>
              </div>
              <img
                class="review-stars"
                src="../img/desc/reviews/5_stars.webp"
                aria-label="left a five-star review"
                alt="5-star review"
                width="87"
                height="23"
              />
            </div>
            <p class="review-text">
              Love how every match actually changes my garden.
            </p>
          </article>
        </li>
        <li class="reviews-card swiper-slide">
          <article class="review-card">
            <div class="review-header">
              <div class="review-author">
                <img
                  class="review-avatar"
                  src="../img/desc/reviews/funnel_white_desk.webp"
                  alt=""
                  width="56"
                  height="56"
                />
                <p class="card-name">Sarah T.</p>
              </div>
              <img
                class="review-stars"
                src="../img/desc/reviews/4_stars.webp"
                aria-label="left a four-star review"
                alt="4-star review"
                width="87"
                height="23"
              />
            </div>
            <p class="review-text">
              So relaxing, and the decorating options are amazing.
            </p>
          </article>
        </li>
        <li class="reviews-card swiper-slide">
          <article class="review-card">
            <div class="review-header">
              <div class="review-author">
                <img
                  class="review-avatar"
                  src="../img/desc/reviews/birdhouse_white_desk.webp"
                  alt=""
                  width="56"
                  height="56"
                />
                <p class="card-name">PuzzleGardener</p>
              </div>
              <img
                class="review-stars"
                src="../img/desc/reviews/5_stars.webp"
                aria-label="left a five-star review"
                alt="5-star review"
                width="87"
                height="23"
              />
            </div>
            <p class="review-text">
              Love how every match actually changes my garden.
            </p>
          </article>
        </li>
        <li class="reviews-card swiper-slide">
          <article class="review-card">
            <div class="review-header">
              <div class="review-author">
                <img
                  class="review-avatar"
                  src="../img/desc/reviews/clover_white_desk.webp"
                  alt=""
                  width="56"
                  height="56"
                />
                <p class="card-name">Daniel K</p>
              </div>
              <img
                class="review-stars"
                src="../img/desc/reviews/4_stars.webp"
                aria-label="left a four-star review"
                alt="4-star review"
                width="87"
                height="23"
              />
            </div>
            <p class="review-text">
              Really satisfying to see the garden transform.
            </p>
          </article>
        </li>
        <li class="reviews-card swiper-slide">
          <article class="review-card">
            <div class="review-header">
              <div class="review-author">
                <img
                  class="review-avatar"
                  src="../img/desc/reviews/flower_white_desk.webp"
                  alt=""
                  width="56"
                  height="56"
                />
                <p class="card-name">GreenThumbGamer</p>
              </div>
              <img
                class="review-stars"
                src="../img/desc/reviews/5_stars.webp"
                aria-label="left a five-star review"
                alt="5-star review"
                width="87"
                height="23"
              />
            </div>
            <p class="review-text">
              Beautiful graphics and endless customization.
            </p>
          </article>
        </li>
      </ul>
      <div class="reviews-controls">
        <button
          class="reviews-btn reviews-btn-prev"
          type="button"
          aria-label="Previous review"
          data-prev
        >
          <img
            src="../img/desc/reviews/prev.webp"
            width="26"
            height="42"
            alt=""
          />
        </button>

        <button
          class="reviews-btn reviews-btn-next"
          type="button"
          aria-label="Next review"
          data-next
        >
          <img
            src="../img/desc/reviews/next.webp"
            width="26"
            height="42"
            alt=""
          />
        </button>
      </div>
    </div>
  </div>
</section>
