@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont.woff2') format('woff2');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka One';
  src: url('../fonts/Fredoka-VariableFont_wdth\,wght.woff2') format('woff2');
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Fredoka', sans-serif;
  --third-family: 'Fredoka One', sans-serif;
  --font3: 'Inter', sans-serif;

  --bg-light: #faf7f2;
  --bg-mint: #d5f5e0;
  --surface-white: #fffdfa;

  --btn-pink: #ff3b77;
  --btn-pink-hover: #c71f52;
  --btn-pink-pressed: #ff5784;
  --btn-green: #a2e0b8;
  --btn-green-hover: #a2ecc0;

  --text-main: #2d4a3e;
  --text-primary: #134e2e;
  --text-stroke: #1a813f;

  font-family: var(--font-family);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-main);
  background-color: var(--bg-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 60px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
}
body.no-scroll {
  overflow: hidden;
}

main {
  flex-grow: 1;
}

.title {
  font-family: var(--third-family);
  font-size: 48px;
  color: var(--text-primary);
  text-shadow: 2px 4px 8px 0 rgba(19, 78, 46, 0.16);
}
