.how-to-play-title {
  font-size: 40px;
  margin-bottom: 24px;
}
.how-to-play-item-title {
  font-weight: 500;
  font-family: var(--second-family);
  border-bottom: 8px solid var(--btn-green-shadow);
  border-left: 1px solid var(--btn-green-shadow);
  border-right: 4px solid var(--btn-green-shadow);
  border-top: 1px solid var(--btn-green-shadow);
  border-radius: 24px;
  padding: 16px 8px;
  background-color: var(--btn-green);
  margin: 0 auto 8px;
  text-align: center;
}
.how-to-play-item-descr {
  font-size: 16px;
  border-bottom: 12px solid var(--btn-green);
  border-left: 1px solid var(--btn-green);
  border-right: 6px solid var(--btn-green);
  border-top: 1px solid var(--btn-green);
  border-radius: 24px;
  padding: 32px 16px 40px;
  background-color: var(--surface-white);
  margin: 0 auto 16px;
  text-align: center;
}
.how-to-play-img {
  box-shadow: -8px 8px 12px 0 rgba(19, 78, 46, 0.12);
  border: 8px solid var(--text-primary);
  border-radius: 32px;
  max-width: 253px;
  min-height: 456px;
  width: 100%;
  margin: 0 auto 24px;
}
.how-to-play-item-descr[data-hidden='true'] {
  display: none;
}
.how-to-play-item-descr[data-hidden='false'] {
  display: block;
}
.how-to-play-img[data-hidden='true'] {
  display: none;
}
.how-to-play-img[data-hidden='false'] {
  display: block;
}
@media screen and (min-width: 1440px) {
  .how-to-play-container {
    display: flex;
    flex-direction: column;
  }

  .how-to-play-list {
    display: grid;
    grid-template-columns: 494px 1fr;
    column-gap: 168px;
    row-gap: 16px;
    align-items: center;
  }

  .how-to-play-item {
    display: contents;
  }

  .text-wrap {
    display: contents;
  }

  .how-to-play-item-title {
    grid-column: 1;
    font-size: 32px;
    padding: 24px 0;
    max-width: 494px;
    width: 494px;
  }

  .how-to-play-item-descr {
    grid-column: 1;
    font-size: 24px;
    border-bottom: 16px solid var(--btn-green);
    border-right: 8px solid var(--btn-green);
    max-width: 494px;
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 79px;
  }

  .how-to-play-item picture {
    grid-column: 2;
    grid-row: 1 / 2 span;
    justify-self: center;
    align-self: center;
  }

  .how-to-play-title {
    font-size: 48px;
    margin-bottom: 48px;
  }

  .how-to-play-img {
    border: 16px solid var(--text-primary);
    border-radius: 44px;
    max-width: 434px;
    min-height: 779px;
    width: 100%;
    margin: 0 auto 24px;
  }
}
